<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>View Hilih Hiling</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 align="center">INFO HILING LUR !!</h1>
        <hr>
        <table border="1" align="center">
            <tr>
                <td>Nama: </td>
                <td  th:text="${nama}">></td>
            </tr>
            
            <tr>
                <td>Lokasi </td>
                <td th:text="${lokasi}"></td>
            </tr>
            
            <tr>
                <td>Gambar </td>
                <td><img th:src="@{${img}}" width="120"/</td>
            </tr>           
        </table>
    </body>
</html>
