<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>View Hilih Hiling</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>View Info Hiling</div>
        <hr>
    <l th:text="${nama}"></l>
    <br><br><br>
    <l th:text="${lokasi}"></l>
    <br><br><br>
    <l><img th:src="@{${img}}" width="120"/></l>
    </body>
</html>
